IP_ADDRESS=192.168.1.1
PORT=333
REGISTER_ADDRESS=555
NUMBER_OF_REGISTERS=2

API_KEY=123456789
API_URL=https://example.com/data/upload

APPWRITE_API_URL=https://appwrite.io/v1/documents
APPWRITE_PROJECT=123456789
APPWRITE_API_KEY=123456789
